img {
	width: 50px;
	height: 50px;
	margin: 2px;
}

body {
	margin-bottom: 100px;
}

.addpadding {
	padding-top: 15px;
}

.padding-2 {
	padding: 2px !important;
}

.guild-logo {
	width: 125px;
	height: 125px;
}

/* Vertical Offset Bottom */
.vert-offset-top-12{
	margin-top: 12em;
}
.vert-offset-top-11{
	margin-top: 11em;
}
.vert-offset-top-10{
	margin-top: 10em;
}
.vert-offset-top-9{
	margin-top: 9em;
}
.vert-offset-top-8{
	margin-top: 8em;
}
.vert-offset-top-7 {
	margin-top: 7em;
}
.vert-offset-top-6{
	margin-top: 6em;
}
.vert-offset-top-5{
	margin-top: 5em;
}
.vert-offset-top-4{
	margin-top: 4em;
}
.vert-offset-top-3{
	margin-top: 3em;   
}
.vert-offset-top-2{
	margin-top: 2em;
}
.vert-offset-top-1{
	margin-top: 1em;
}
.vert-offset-top-05{
	margin-top: 0.5em;
}
.vert-offset-top-0{
	margin-top: 0em;
}
/* Vertical Offset Bottom */
.vert-offset-bottom-12{
	margin-bottom: 12em;
}
.vert-offset-bottom-11{
	margin-bottom: 11em;
}
.vert-offset-bottom-10{
	margin-bottom: 10em;
}
.vert-offset-bottom-9{
	margin-bottom: 9em;
}
.vert-offset-bottom-8{
	margin-bottom: 8em;
}
.vert-offset-bottom-7{
	margin-bottom: 7em;
}
.vert-offset-bottom-6{
	margin-bottom: 6em;
}
.vert-offset-bottom-5{
	margin-bottom: 5em;
}
.vert-offset-bottom-4{
	margin-bottom: 4em;
}
.vert-offset-bottom-3{
	margin-bottom: 3em;
}
.vert-offset-bottom-2{
	margin-bottom: 2em;
}
.vert-offset-bottom-1{
	margin-bottom: 1em;
}
.vert-offset-bottom-0{
	margin-bottom: 0em;
}